* {
    box-sizing: border-box;
  }

body {
    background-color:#1F2937;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'roboto' , sans-serif;
    min-width: 900px;
}

.header {
    height: 72px;
    display: flex;
    padding: 0 15%;
    justify-content: space-between;
    align-items: center;
}
.header .title {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.headerlinks {
    display: flex;
    justify-content: flex-end;
}

li {
    font-size: 18px;
    list-style-type: none;
    margin-left: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
}

.hero {
    padding: 5% 15% 10% 15%;
    background-color: #1F2937;
    display: flex;
    flex: 1;
    gap: 32px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

#heroimg {
    display: block;
    width: 100%;
    height: auto;
}

.heromain {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.herosecondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.herobutton {
    margin-bottom: 16px;
    color: #F9FAF8;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: auto 0;
    text-decoration: none;
    border-radius: 10px;
    height: 2em;
    width: 8em;
}


.right {
    display: flex;
    width: 50%;
}

.randominfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5% 20% 10% 20%
}

.randominfo .title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 1.5em;
}

.images {
    display: flex;
    gap: 32px;
    margin-bottom: 0.5em;
}

.images img {
    border: 3px solid #3882F6;
    border-radius: 10px;
    display: block;
    width: 100%;
    height: auto;
}

.captions {
    display: flex;
    gap: 32px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10% 20% 10% 20%;
}

.quote1 {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.by {
    text-align: end;
    font-weight: bold;
}


.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}